{% extends 'base.html.twig'%}
{% block title 'voir tous nos biens' %}
{% block body %}

<div class="container mt-4">
    <table>
        <thead>
          <tr>
              <th>Nom  bien</th>
              <th>Actioon</th>
          </tr>
        </thead>
        <tbody>
            {% for property in properties %}
            <tr>
                <td>{{property.title}}</td>
                <td><a href="" class="btn btn-success">Editt</a></td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(properties) }}
    </div>

</div>
{% endblock %}